body {
    background-image: url(../images/background.jpg);
}
#footer {
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#entermodal {
    background-color: whitesmoke;
    color: salmon;
    border-style: double;
    border-color: silver;
    border-width: 10px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
}
.intro {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    color: salmon;
    width: 40%;
    font-weight: 40px;
    background-color: silver;
    border-style: ridge;
}
#intro {
    margin-top: 100px;
}
#intro2 {
    margin-top: 20px;
}
.highlight {
    color: whitesmoke;
}
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
  }
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: lightsalmon;
    text-align: center;
    text-decoration: none;
    background-color: whitesmoke;
  }
  nav {
    float: right;
    margin-top: 25px;
  }
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    background-color: whitesmoke;
  }
  .circular--portrait {
      position: relative;
      width: 350px;
      height: 350px;
      overflow: hidden;
      border-radius: 50%;
      margin-top: 50px;
      border-style: solid;
      border-color: silver;
      border-width: 10px;
  }
  .circular--portrait img {
      width: 100%;
      height: auto;
  }
  p {
      background-color: whitesmoke;
      color: salmon;
      margin-left: 25%;
      margin-right: 25%;
  }