body {
    background-image: url(../images/background.jpg);
}
#footer {
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#entermodal {
    background-color: whitesmoke;
    color: salmon;
    border-style: double;
    border-color: silver;
    border-width: 10px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
}
.intro {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    color: salmon;
    width: 40%;
    font-weight: 40px;
    background-color: silver;
    border-style: ridge;
}
#intro {
    margin-top: 100px;
}
#intro2 {
    margin-top: 20px;
}
.highlight {
    color: whitesmoke;
}
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
  }
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: 40px;
    /* line-height: 90px; */
    color: salmon;
    text-align: center;
    /* text-decoration: none; */
    background-color: silver;
    border-style: ridge;
    margin-top: 10px;
  }
  /* .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
  } */
  .circular--portrait {
      position: relative;
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 50%;
      margin-top: 30px;
      border-style: solid;
      border-color: silver;
      border-width: 10px;
      float: left;
  }
  .circular--portrait img {
      width: 100%;
      height: auto;
  }
  p {
      background-color: whitesmoke;
      color: salmon;
      width: 40%;
     float: left;
     margin-left: 100px;
     text-align: center;
     border-style: solid;
     border-color: silver;
     border-width: 10px;
  }
  #top {
      margin-top: 40px;
  }
  #header {
      text-align: center;
      text-decoration: underline;
      font-family: 'Sacramento', cursive;
      width: 20%;
      margin-top: 120px; 
      margin-left: 40%; 
      margin-right: 40%; 
      color: salmon;
      border-style: ridge;
      font-size: 35px;
      font-weight: 20px;
      background-color: silver;
    border-color: whitesmoke;
    border-width: 5px;
  }