button {
    color: white;
    background-color: #BC7583;
    border-style: ridge;
    border-color: #EFDCD6;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    margin-bottom: 50px;
}
body {
    background-image: url(../images/background.jpg);
    
}
p {
    background-color: #EFDCD6;
    color: #BC7583;
     text-align: center;
     border-style: ridge;
     border-color: #BC7583;
}
.nav {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
    margin-bottom: 50px;
    
}
.nav-link {
    color: #D5C6B3;
    background-color: #BC7583;
    border-style: ridge;
    border-color: #747087;
}
.screenshot {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: ridge;
    border-color: #BC7583;
    border-width: 10px;
    float: left;
}
.tag {
    font-family: 'Sacramento', cursive; 
    font-size: 40px;
    color: #BC7583;
    font-weight: 50px;
}
#columnB {
    float: right;
}
#logo {
    height: 90px;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-weight: 40px;
    width: fit-content;
    margin-left: 42%;
    margin-right: 30%;
    color: #BC7583;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
#footer {
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}