body {
  background-image: url(../images/background.jpg);
  
}
.header {
    margin-top: 20px;
  }
  .nav {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
  }
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #D5C6B3;
    text-align: center;
    background: #BC7583;
    border-bottom: 0;
    font-family: 'Amatic SC', cursive;
  }
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  #contactme {
      color: #D5C6B3;
      background-color: #BC7583;
      border-style: ridge;
      border-color: #747087;
  }
#footer {
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#header {
  text-align: center;
  text-decoration: underline;
  font-family: 'Sacramento', cursive;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  color: #BC7583;
  font-size: 35px;
  font-weight: 20px;
  }
  #home {
      color: #D5C6B3;
      background-color: #BC7583;
      border-style: ridge;
      border-color: #747087;
  }
  #logo {
    height: 90px;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-weight: 40px;
    width: fit-content;
    margin-left: 42%;
    margin-right: 30%;
    color: #BC7583;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }