body {
    background-image: url(../images/background.jpg);
}
p {
  background-color: #EFDCD6;
  color: #BC7583;
   float: left;
   text-align: center;
   border-style: ridge;
   border-color: #BC7583;
}
.intro {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    color: #BC7583;
    font-weight: 40px;
    background-color: #EFDCD6; 
    border-color: #BC7583;
    border-style: ridge;
    margin-top: 20px;
    width: fit-content;
}
.fade {
  opacity: 1;
}
.fade:hover {
  opacity: 0.5;
}
.flex-container {
  display: flex;
}
.header {
  margin-top: 20px;
}
.highlight {
    color: #E5AC98;
}
.icon {
  background-color: #EFDCD6;
    border-style: ridge;
    border-color: #BC7583;
}
.portrait {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: ridge;
    border-color: #BC7583;
    border-width: 10px;
    float: left;
  }
  .row {
    margin-top: 50px;
    float: left;
  }
  #aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
  #columnA {
    margin-left: 100px;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /* columnB {
    width: 40%;
  } */
  #columnC {
    /* width: 20%;
    margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .label {
    font-family: 'Sacramento', cursive;
    position: absolute;
    bottom: 20px;
    width: fit-content;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #EFDCD6;
    text-align: center;
    background: #BC7583;
    border-bottom: 0;
  }
  #entermodal {
    background-color: #BC7583;
    color: #E5AC98;
    border-style: double;
    border-color: #D5C6B3;
    border-width: 10px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15%;
    font-size: 32px;
    text-align: center; 
    font-family: 'Amatic SC', cursive;
}
  #header {
    text-align: center;
    text-decoration: underline;
    font-family: 'Sacramento', cursive;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: #BC7583;
    font-size: 35px;
    font-weight: 20px;
  }

  #logo {
    height: 90px;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-weight: 40px;
    width: fit-content;
    margin-left: 42%;
    margin-right: 30%;
    color: #BC7583;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
  #footer {
    position: fixed; 
    bottom: 0; 
    text-align: center; 
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
